/Cache
/Index
/Local

/Installed Packages/*
!/Installed Packages/*package_control_loader.sublime-package
!/Installed Packages/Package Control.sublime-package

/Packages/*
!/Packages/User/
/Packages/User/*
!/Packages/User/*.sublime-settings
